<div class="row">
    {% for cart in carts %}
        {% set isActive = cart.cartNumber == customer.activeCart %}
        <div class="ui buttons">
            <div class="ui {% if isActive == true %}primary{% endif %} button change-cart" data-value="{{ cart.cartNumber }}">
                {{ cart.cartNumber }}
            </div>
            {% if isActive == false %}
                <div class="ui red button delete-cart" data-value="{{ cart.cartNumber }}">
                    X
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div id="new-cart-button" class="ui green button">
        New
    </div>
</div>
