{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<div data-bb-mc-widget-button>
    <i class="cart icon"></i>
    <span id="sylius-cart-total" {{ sylius_test_html_attribute('cart-total') }}>
        {{- money.convertAndFormat(cart.itemsTotal) -}}
    </span>
    <span id="sylius-cart-items-count">
        {{- 'sylius.ui.item.choice'|trans({'%count%': cart.items|length}) }}
    </span>
</div>
