{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<div id="popup-carts">
    {{ include('@SyliusShop/Cart/Widget/_popup_carts.html.twig') }}
</div>

<div id="popup-items">
    {{ include('@SyliusShop/Cart/Widget/_popup_items.html.twig') }}
</div>
