{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<div data-bb-mc-widget-carts>
    {{ include('@SyliusShop/Cart/Widget/_popup_carts.html.twig') }}
</div>

<div data-bb-mc-widget-items>
    {{ include('@SyliusShop/Cart/Widget/_popup_items.html.twig') }}
</div>
