.multi-cart {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
  overflow-x: auto;
  width: 100%;
  background: #E3E3E3;
  border: 1px solid rgba(34, 36, 38, 0.15);
  margin: 1rem 0;

  &,
  .item {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    padding: 1em;
    border-radius: 0.28571429rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 120px;
    background: #FFF;
    padding: 3em 1em 1em;
    position: relative;
    cursor: pointer;

    &:hover,
    &.active {
      outline: 2px solid #008080;
    }

    &__row {
      display: flex;
      justify-content: center;
      padding: 0.4rem;
      pointer-events: none;

      &.quantity {
        background: #E0E1E2;
        border-radius: 0.28571429rem;
      }
    }

    &--delete {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.4rem;
    }
  }

  &-widget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;

    .change-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid transparent;
      border-radius: 0.28571429rem;
      box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
      padding: 0.4rem;
      cursor: pointer;
      outline: 1px solid rgba(34, 36, 38, 0.15);

      &:hover,
      &.active {
        outline: 2px solid #008080;
      }

      .quantity {
        background: #E0E1E2;
        border-radius: 0.28571429rem;
        padding: 0.1rem 0.4rem;
        color: #808080;
        font-size: small;
      }

      div {
        pointer-events: none;
      }
    }
  }

  &-dialog {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    padding: 1em 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;

    .options {
      display: flex;
      justify-content: space-around;
    }

    button {
      background: #E0E1E2;
      border: none;
      padding: 0.5em 1em;
      cursor: pointer;
      border-radius: 0.28571429rem;

      &:hover {
        background: #CACBCD;
      }
    }
  }

  &-banner-empty {
    width: 100%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    background: #008080;
    color: #FFF;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
}
